@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Economica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200&display=swap');

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: black;
}

#Loading {
  display: inline-block;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Loading_text {
  color: white;
  margin-right: 3rem;
  font-size: 2rem;
  font-family: 'Patrick Hand SC', cursive;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.Hourglass {
  position: relative;
  animation: spin-animation 1s infinite;
  color: white;
  font-size: 8rem;
}


#Header {
  display: flex;
  flex-direction: row;
  background-color: rgba(50, 255, 0, 0.5);
  justify-content: space-between;
  height: 5rem;
  transition: 0.3s;
  position: fixed;
  width: 100vw;
  z-index: 999;
}

#Github-icon {
  color: white;
  width: 3rem;
  transition: 0.3s;
  margin-top: 1rem;
  position: relative;
  right: 11rem;
}

#Github-icon:hover {
  transform: translateY(-0.6rem);
}

#Mobile-icon {
  color: white;
  font-size: 2.5rem;
  margin-top: 1.5rem;
  position: relative;
  right: 15rem;
  transition: 0.3s;
}

#Mobile-icon:hover {
  transform: translateY(-0.5rem);
}

#Page_container {
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
}

#Footer {
  background-color: orange;
}

#Brand {
  font-size: 3rem;
  font-family: 'Permanent Marker', cursive;
  margin-left: 2rem;
  color: white;
  display: flex;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
}

#Brand:hover {
  color: yellow;
}

#Navbar {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
  width: 20vw;
  align-items: center;
}

.Nav-icon {
  cursor: pointer;
  color: white;
  font-size: 2rem;
  transition: 0.3s;
}

.Nav-icon:hover {
  transform: translateY(-0.5rem);
  color: yellow;
}

#Footer {
  font-size: 5rem;
  border: 3px solid red;
  text-align: center;
  height: 15vh;
}

#List_container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

#Card_container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.75);
  border-radius: 2%;
  width: 40vw;
  height: 40vh;
  padding: 1rem;
  margin: 2rem;
  transition: 0.3s;
  cursor: pointer;
}

#Card_container:hover {
  background-color: rgba(0, 0, 0, 0.35);
  box-shadow: 30px 35px 25px rgba(0, 0, 0, 0.75);
  transform: translateY(-30px);
}

#Item_title-price {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 3rem;
}

#Card_images {
  margin: 0.5rem;
  border-radius: 5%;
  max-width: 50%;
}

#Card_titles {
  font-size: 1.3rem;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
}

#Card_prices {
  font-size: 3rem;
  color: white;
  font-family: 'Zen Loop', cursive;
}

#Card_ratings {
  color: white;
  font-family: 'Bungee', cursive;
  font-size: 2rem;
}

#Details_page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

#Details_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5%;
  padding: 2rem;
  position: relative;
}

#Details_title {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 0.5rem;
  font-family: 'Julius Sans One', sans-serif;
}

#Details_image {
  max-height: 9rem;
  margin-bottom: 0.5rem;
}

#Details_price {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 0.3rem;
  font-family: 'Zen Loop', cursive;
}

#Details_category {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 0.3rem;
  font-family: 'Spectral SC', serif;
}

#Details_description {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 0.3rem;
  font-family: 'Dongle', sans-serif;
  line-height: 80%;
}

#Quantity_label {
  color: white;
  font-size: 1.5rem;
  margin-right: 1rem;
  font-family: 'Marcellus SC', serif;
}

#Quantity_selector {
  font-size: 1.2rem;
  margin-right: 1rem;
  font-family: 'Grand Hotel', cursive;
}

#Add-cart-button {
  font-size: 1.5rem;
  cursor: pointer;
}

#Cart_container {
  min-height: 90vh;
  margin-left: 20rem;
  margin-right: 20rem;
  padding-bottom: 2rem;
}

#Empty_cart {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  height: 80vh;
  color: white;
  font-family: 'Schoolbell', cursive;
}

#Empty_cart-text {
  margin-top: 15rem;
}

#Cart_item {
  border: 1px solid white;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

#Cart_image {
  max-width: 10rem;
  max-height: 15rem;
  margin-right: 2rem;
}

#Cart_title {
  font-family: 'Spinnaker', sans-serif;
  font-size: 2.5rem;
}

#Cart_quantity {
  font-size: 1.5rem;
  font-family: 'Kodchasan', sans-serif;
}

#Cart_price {
  font-family: 'Koulen', cursive;
  font-size: 2rem;
}

.Increment_icon {
  font-size: 2rem;
  margin: 0.2rem;
  width: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.Increment_icon:hover {
  color: red;
  font-size: 2.1rem;
}

#Delete_item {
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

#Delete_item:hover {
  font-size: 2.1rem;
  color: red;
}

#Total_cost {
  color: white;
  padding: 0.2rem;
  font-size: 3rem;
  font-family: 'Economica', sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
  width: fit-content;
}

#Checkout_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5rem;
  height: 60vh;
  position: relative;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  padding: 1rem;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
  width: 30rem;
  position: relative;
  top: -2rem;
}

.Form_label {
  font-size: 2.5rem;
  color: white;
  font-family: 'Spinnaker', sans-serif;
  cursor: pointer;
}

.input_field {
  font-size: 1.5rem;
  margin-top: 0.25rem;
}

#Total_cost_checkout {
  color: white;
  font-size: 2rem;
  margin: 1rem;
}

#Place_order {
  width: 10rem;
  color: white;
  background-color: rgba(184, 228, 255, 0.632);
  height: 2rem;
  cursor: pointer;
  transition: 0.3s;
  width: 10rem;
  font-size: 1.3rem;
  border: none;
}

#Place_order:hover {
  height: 2.5rem;
  width: 12rem;
  font-size: 1.6rem;
}

#Footer_container {
  background-color: black;
  color: white;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Created_by {
  font-family: 'Bad Script', cursive;
  font-size: 2rem;
}