#Site_title {
  border: 3px solid red;
  font-size: 5rem;
  text-align: center;
  height: 15vh;
}

#Footer {
  font-size: 5rem;
  border: 3px solid red;
  text-align: center;
  height: 15vh;
}

#Card_images {
  border: 5px solid red;
  width: 10rem;
}

#Card_titles {
  font-size: 1.6rem;
}

#Card_prices {
  font-size: 1.5rem;
}

#List_container {
  display: flex;
  flex-wrap: wrap;
}

#Card_container {
  border: 5px solid red;
  width: 10rem;
  padding: 2rem;
  margin: 2rem;
}

