#Loading {
  font-size: 10rem;
}

#Site_title {
  border: 3px solid red;
  font-size: 5rem;
  text-align: center;
  height: 15vh;
}

#Navbar {
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
  padding: 1rem;
  border: 1px solid black;
}

#Footer {
  font-size: 5rem;
  border: 3px solid red;
  text-align: center;
  height: 15vh;
}

#List_container {
  border: 2px solid black; 
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

#Card_images {
  border: 1px solid black;
  padding: 1rem;
  width: 10rem;
}

#Card_titles {
  font-size: 1.6rem;
}

#Card_prices {
  font-size: 1.5rem;
}

#Card_container {
  border: 3px solid green;
  width: 15rem;
  height: 25rem;
  padding: 1rem;
  margin: 1rem;
}

#Card_container:hover {
  border: 3px solid blue;
}

#Details_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  text-align: center;
  position: relative;
  left: 20rem;
  border: 5px solid black;
}

#Details_title {
  font-size: 1.5rem;
}

#Details_image {
  width: 15rem;
}

#Details_price {
  font-size: 1.5rem;
}

#Cart_item {
  border: 1px solid red;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}